<!DOCTYPE html>

<html>
  <head>
    <title>My Flask App - Carousel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <div class="container mb-4">
      <nav class="navbar navbar-expand-lg navbar-light m-2" style="background-color:rgb(75, 124, 124)">
        <a class="navbar-brand" style="font-weight:800; font-size: 28px;" href="#">Flask Razzle Dazzle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/welcome">Welcome</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container mt-4">
      <div id="carouselExampleControls"
         class="carousel slide"
         data-ride="carousel"
         data-interval=6000>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100"
                 src="static\img\alley.jpg"
                 alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100"
                 src="static\img\doggie.jpg"
                 alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100"
                 src="static\img\lion.jpg"
                 alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100"
                 src="static\img\old car.jpg"
                 alt="Fourth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100"
                 src="static\img\walrus island.jpg"
                 alt="Fifth slide">
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
  </body>

  <footer>
    <div class="container-fluid position-fixed">
      <p class="text-right fixed-bottom"
         style="margin-right: 2%; margin-bottom: 1%; font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif">
        🏗️  Created by: E.Cope -- Feburary 2021  🧰
      </p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
