<!DOCTYPE html>

<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e6f8705633.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container mb-4">
      <nav class="navbar navbar-expand-lg navbar-light mt-2" style="background-color:rgb(75, 124, 124)">
        <a class="navbar-brand" style="font-weight:800; font-size: 28px;" href="/">Flask Razzle Dazzle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Welcome</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-8">
          <div class="jumbotron border border-info m-2">
            <h1 class="display-4" style="font-weight:600; font-size: 300%;">
              Welcome to Flask!
            </h1>
            <hr class="my-4">
            <p style="font-size: 115%;">Explore what this lightweight marvel has to offer.</p>

            <div>
                <a  class="btn btn-info btn-lg"
                    href="https://flask.palletsprojects.com/en/1.1.x/foreword/"
                    role="button"
                    target="_blank"
                    style="margin-top: 25%; margin-left: 5%;">
                    Learn more
                </a>
                <span class="align-middle">
                  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="python" class="svg-inline--fa fa-python fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                       style="width: 35%; margin-left: 55%; margin-top: -30%;">
                    <path fill="green"
                          d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6c-11.1 0-20.1-9.1-20.1-20.3.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z">
                    </path>
                  </svg>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div class="container-fluid position-fixed">
      <p class="text-right fixed-bottom"
         style="margin-right: 2%; margin-bottom: 1%; font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif">
        🏗️  Created by: E.Cope -- Feburary 2021  🧰
      </p>
    </div>
  </footer>

</html>
